
body {
    font-family: "Pontano Sans", sans-serif;
    margin: 2em;
   }
  
  h1 {
    font-family: "Flamenco", cursive;
    color: #000000;
    text-align: center;
  }
  
  h2 {
     font-family: "Pontano Sans", sans-serif;
    font-size: 20px;
    text-align: center;
  }
  